*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    min-height:100vh;
    background-color: 	#0b3c5d;
}

nav{
    min-height:60px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background:	#1d2731;
}

nav .navbar-brand{
    color:#ffcb05;
    font-size:2rem;
    text-decoration:none;
    font-weight:bold;
    margin-left:1rem;
}

nav ul {
    display:flex;
    margin-right:1rem;
}

nav ul li{
    list-style:none;
    margin:.5rem;
}

nav ul li a{
    color:#fff;
    font-size:1.2rem;
    text-decoration: none;
    padding:.5rem;
    transition:.3s ease;
}

nav ul li a:hover{
    filter:opacity(0.8);
}

nav ul li a:after{
    content:'';
    position:absolute;
    bottom:0px;
    left:0px;
    width:100%;
    height:3px;
    background: #9424f0;
    transform: scaleX(0);
    transition: .3s ease;
    transform-origin: left;
}

nav ul li a:hover:after{
    transform: scaleX(1);
}

.toggle{
    width: 30px;
    height:30px;
    margin-right:1rem;
    display:none;
    justify-content:space-evenly;
    flex-direction:column;
    cursor: pointer;
}

.toggle span{
    background-color: #fff;
    height:5px;
    width:100%;
    border-radius:10px;
}
.mode-btn{
    height: 30px;
    width: 30px;
    background-color: #1d2731;
    color: #fff;
    border: 2px solid black;
    
}
.content{
    position: relative;
    top: 50px;
    color: #f2f2f2;
    text-align: center;
}
.my-game{
    position: relative;
    top: 8vh;
    left: 2vh;
    color: #f2f2f284;
}
.car-game-container{
    border-radius: 20px;
    margin: 2vh;
    padding: 2vh;
    height: 100vh;
    background-color: 	#235789;
    position: relative;
    top: 9vh;
    overflow: hidden;
}
.fps-game-container{
    border-radius: 20px;
    margin: 2vh;
    padding: 2vh;
    height: 30vh;
    background-color: 	#235789;
    position: relative;
    top: 9vh;
    overflow: hidden;
}
.instruction{
    border-radius: 20px;
    margin: 2vh;
    padding: 2vh;
    height: 30vh;
    background-color: 	#235789;
    position: relative;
    top: 9vh;
    overflow: hidden;
}
.download-btn {
    height: 50px;
    display: inline-block;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    background-color: #4CAF50;
    border: 2px solid transparent;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s, transform 0.2s;
    position: relative;
    top: 5vh;
    /* left: 25vh; */
}


.download-btn:hover {
    background-color: #45a049;
    border-color: #45a049;
}


.download-btn:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.2);
}


.download-btn:active {
    background-color: #3e8e41;
    border-color: #3e8e41;
    transform: translateY(1px);
}
.gameimg{
    height: 100px;
    position: relative;
    top: 2vh;
}
.about{
    height: 100px;
    width: 500px;
    position: relative;
    top: 7vh;
    
    /* right: 80%; */
}
.about-sec{
    height:100px;
    width: 100%;
    background-color: #0b3c5dab;
    position: relative;
    top: 1vh;
    border-radius: 10px;
    /* right: 70%; */
   
}
.slider-container {
    position: relative;
    top: 3vh;
    height: 500px;
    width: 100%;
    display: flex;
    overflow: auto;
    scroll-snap-type: x mandatory;
}
.slider-container .slide{
    scroll-snap-align: start;
}
.slider-container img{
    width:350px;
    height: 30%;
    object-fit: cover;
}

.social-icons{
	padding:30px;
	background-color:#0b3c5d;
  text-align: center;
}
.social-icons a{
	color:#fff;
  line-height:30px;
  font-size:30px;
  margin: 0 5px;
  text-decoration:none;
  
}
.social-icons a i{
	line-height:30px;
  font-size:30px;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1); 
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1); 
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1);
  transition: all 200ms ease-in;
  transform: scale(1);
}
.social-icons a:hover i{
  box-shadow: 0px 0px 150px #000000;
  z-index: 2;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1.5);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1.5);   
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1.5);
  transition: all 200ms ease-in;
  transform: scale(1.5);
}

